<footer class="footer bg-light py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; {{ currentYear }} Job Portal. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#">Terms of Service</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>